@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');

body{
    margin: 0;
    font-family: orbitron;
}

.banner{
    width: 90%;
    height: 100vh;
    padding: 15px 5%;
    position: relative;
    background: url(../img/bg\ banner.png) center / cover;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    z-index: 1;
    list-style: none;
}

.list{
    z-index: 1;
    display: flex;
    list-style: none;
}

.list li a{
    text-decoration: none;
    margin-left: 50px;
    color: white;
}

#active{
    color: gold;
}

.right{
    display: flex;
}

.right li{
    list-style: none;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right button{
    width: 150px;
    height: 50px;
    background: none;
    border: 1px solid white;
    margin-left: 25px;
    cursor: pointer;
    color: white;
    font-family: orbitron   ;
}

.content{
    margin-left: 40px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.left p{
    color: #57B8FF;
}

#whiteP{
    color: #999999;
}

.left h1{
    font-size: 50px;
    color: white;
}