@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');

body{
    margin: 0;
    font-family: orbitron;
    background: black;
    object-fit: cover;
    scrollbar-color: red;
}

.banner{
    width: 90%;
    height: 100vh;
    padding: 15px 5%;
    position: relative;
    background: url(../img/bg\ banner.png) center / cover;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    z-index: 1;
    list-style: none;
}

.list{
    z-index: 1;
    display: flex;
    list-style: none;
}

.list li a{
    text-decoration: none;
    margin-left: 50px;
    color: white;
    transition: 0.3s;
}

.list li a:hover{
    font-size: 18px;
}

#active{
    color: gold;
}

.right{
    display: flex;
}

.right li{
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right button{
    width: 150px;
    height: 50px;
    background: none;
    border: 1px solid white;
    margin-left: 25px;
    cursor: pointer;
    color: white;
    font-family: orbitron;
    transition: 0.3s;
}

.right button:hover{
    background: white;
    color: #57B8FF;
}

.content{
    margin-left: 40px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.left p{
    color: #57B8FF;
}

#whiteP{
    color: #999999;
}

.left h1{
    font-size: 50px;
    color: white;
}

.buttons{
    display: flex;
    align-items: center;
    list-style: none;
}

.buttons button{
    background: #57B8FF;
    width: 150px;
    height: 50px;
    color: white;
    font-family: orbitron;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.buttons button:hover{
    background: none;
    border: 1px solid white;
}

.buttons li a{
    margin-left: 25px;
    text-decoration: none;
    color: white;
}

.main-banner{
    background: #FDD04A;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-banner h1{
    font-size: 50px;
    color: #222730;
    margin: 0;
}

.main-banner p{
    font-size: 20px;
    margin-top: 35px;
    text-align: center;
    color: #555555;
}

.main-banner img{
    width: 1050px;
    cursor: pointer;
    margin-top: 25px;
}

.gaming-needs {
    background: url('../img/bg\ for\ cards.png') center / cover;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#lightBlue{
    color: #57B8FF;
}

.gaming-needs h1{
    color: white;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

#whiteP2{
    color: white;
    text-align: center;
}

.card {
    background: rgba(255, 255, 255, 0.3);
    height: 200px;
    border-radius: 20px;
    width: 500px;
    margin: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content-in-card{
    margin: 0;
}

.up{
    display: flex;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.up h1{
    margin: 0;
    font-size: 20px;
    color: white;
    margin-left: 15px;
}

.down{
    margin-left: 0;
    padding-left: 0;
}

.down p{
    color: rgba(225, 225, 225, 0,8);
}

.newEra{
    background: black;
    width: 85%;
    height: 80vh;
    padding: 15px 7.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.explore-btn{
    background: #57B8FF;
    width: 150px;
    height: 50px;
    color: white;
    font-family: orbitron;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.explore-btn:hover{
    background: none;
    border: 1px solid white;
}


.own-character{
    display: flex;
    width: 90%;
    height: 90vh;
    padding: 0 5%;
    align-items: center;
    justify-content: space-between;
    background: #2A313C;
}

.left{
    margin: 0;
    padding: 0;
}

.right2{
    margin: 0;
}

.right2 h1{
    color: white;
    font-size: 50px;
}

.right2 p{
    color: rgba(223, 223, 223, 0.8);
}

.right2 img{
    margin-top: 25px;
    cursor: pointer;
}

.games{
    width: 100%;
    height: 100vh;
    display: flex;
}

.card-hover{
    background: url(/img/smooth\ fps.png) center / cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-hover:nth-child(2){
    background: url(/img/multiplayer.png) center / cover;
}

.card-hover:nth-child(3){ 
    background: url(/img/open\ world.png) center / cover;
}

.btn{
    background: #57B8FF;
    color: white;;
    width: 150px;
    height: 50px;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
}

.btn:hover{
    background: none;
    border: 1px solid white;
}

.news{
    width: 90%;
    padding: 15px 5%;
}


.news_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-cards{
    color: white;
    display: flex;
}

.right-new{
    display: flex;
    flex-wrap: wrap;
}

.card_new{
    margin-left: 70px;
}

.card_new h1{
    font-size: 25px;
}